* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  cursor: pointer;
  background-color: #fff;
  width: 300px;
  margin-left: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px 45px;

  transition: all 1s;
}
.card:hover {
  transform: scale(1.05);
}
.infect {
  border-bottom: solid 8px rgba(0, 0, 255, 0.5);
  box-shadow: 3px 3px 3px rgb(10, 10, 10);
}
.recover {
  border-bottom: solid 8px rgba(0, 255, 0, 0.5);
  box-shadow: 3px 3px 3px rgb(15, 15, 15);
}
.death {
  border-bottom: solid 7px rgba(255, 0, 0, 0.5);
  box-shadow: 3px 3px 3px rgb(32, 32, 32);
}
.card h1,
.card h2,
.card h3 {
  background: none;
  margin-top: 10px;
  color: #00b4d8;
  font-size: 16px;
}
.card h2 {
  color: #ee1d52;
}
.card h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
}
.card span {
  margin-top: 10px;
  font-size: 20px;
  display: block;
  color: #ee1d52;
}
